/*Card de prductoo*/

.container {
    .row {
        margin: 10px;
        border-radius: 10px;
        justify-content: center;

        .col-lg-12 {
            width: 90%;
            .carousel-inner {
                border-radius: 10px;
            }

            &:first-of-type {
                border-radius: 10px;
                padding: 5px;
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

        }

    }
}

.display_boton {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

button {
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(14, 13, 13);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(127, 128, 129);
    border-width: 2px;
    color: rgb(255, 255, 255);
}

.selected {
    border-color: rgb(195, 195, 218);
    background-color: rgb(98, 98, 99);
    color: white;
}

.CTA {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;

    .compra{
        border-radius: 10px;
        border: none;
        font-weight: 600;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        background-color: rgb(0, 184, 0);
        border: solid rgba(199, 199, 199, 0.664) 2px;;
        a {
            color: aliceblue;
            text-decoration: none;
            align-self: center;
        }
    }

    .boton1 {
        border-radius: 10px;
        border: none;
        font-weight: bold;
        background-color: rgb(1, 1, 182);
    }

    .boton1:active {
        background-color: rgb(0, 0, 129);
    }


    .boton2:active {
        background-color: rgb(0, 87, 0);
    }
}


main {
    .container {
        .row {
            padding: 10px;
            /***/
            background-color: aliceblue;

            .P_name {
                font-weight: bold;
            }

            .c-card {
                /*para media query
                display: flex;
                flex-direction: column;*/
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 10%;

                h5 {
                    font-weight: bold;
                }

                p {
                    font-weight: 500;
                }

                .display-c {
                    h4 {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                a {
                    background-color: rgb(14, 13, 13);
                    border-radius: 10px;
                    border: 2px solid gray;
                    padding: 5px 10px;

                    svg {
                        color: rgb(255, 255, 255);
                        width: 20px;
                    }
                }

                img {
                    border-radius: 10px;
                    width: 50%;
                }
            }
        }
    }
}
.container-expand {
    background-color: rgb(173, 173, 173);
    padding: 5%;
}
.container-fluid-expand {
    .Total {
        padding: auto;
        background-color: aliceblue;
        padding: 10px 15%;

        .Box-calculator {
            display: flex;
            flex-direction: row-reverse;
            column-gap: 25%;
            margin: 8px;
            padding: 10px;
        }

        .btnPago {
            border-radius: 10px;
            border: none;
            font-weight: 600;
            text-decoration: none;
            color: rgb(0, 0, 0);
            padding: 8px 16px;
            background-color: rgb(0, 184, 0);
            border: solid rgba(199, 199, 199, 0.664) 2px;
        }

        .btnPago:hover {
            background-color: rgb(3, 218, 3);
        }

    }
}