@use"./home.scss";
@use"./elementos.scss";
@use"./general.scss";
@use"./catalogo.scss";


@media (max-width:1200px) {
    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:835px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width:480px) {

    @keyframes moverTexto {
        0% { transform: translateX(50%); }
        100% { transform: translateX(-50%); }
    }
    footer {
        .linkfoot {
            flex-direction: column;
            gap: 10px;
        }
    }

    .container-background {
        .presentacion {
            padding: 30% 10%;
            font-size: 15px;

            h2 {
                font-size: 20px;
            }
        }
    }

    .barra-search {
        flex-direction: column;
    }

    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .container {
        .row {
            .col-lg-12 {
                &:first-of-type {
                    flex-direction: column;
                }
            }
        }
    }
}