/*Aqui empieza la configuracion general de la web*/
body {
    background: linear-gradient(to right, #550202ef, #db1515, #550202ef);
    font-family: "Poppins", serif;
    gap: auto;
}

main {
    margin: 0 auto;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(185, 184, 192);
}

.navbar-toggler {
    background-color: aliceblue;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer h5 {
    display: flex;
    text-align: center;
}

footer img {
    image-rendering: optimizeSpeed;
    width: 25%;
}

.linkfoot {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.linkbtn {
    text-decoration: solid;
    color: azure;
    background-color: rgb(13, 110, 253);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: aqua;
    padding: 5px 30px;
}


.linkbtn:hover {
    background-color: rgb(61, 129, 255);
    border-color: rgb(241, 255, 255);
}

/*Aqui termina la configuracion general de la web*/
/*Aqui empieza la configuracion exclusiva de Home*/

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Fondo-historia.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: auto;
    padding: 10%;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.ir-catalogo {
    display: inline-block;
    padding: 10px 100px;
    border: 2px ridge #d3d3d3;
    /* Borde de 2px de color negro */
    background-color: #323ee65d;
    /* Fondo transparente */
    color: #ffffff;
    /* Color del texto */
    text-decoration: none;
    /* Sin subrayado en el texto */
    font-size: 16px;
    /* Tamaño del texto */
    font-weight: 500;
    border-radius: 5px;
    /* Bordes redondeados */
}

.ir-catalogo:hover {
    background-color: #323ee65d;
    /* Fondo negro al pasar el cursor */
    color: #fff;
    /* Texto blanco al pasar el cursor */
    border: 2px dotted #cacacaaf;
}

.fondoytexto {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.582);
    color: aliceblue;
    margin: 0 auto;
    padding: 50px 50px;
    border-radius: 20px;
    text-align: center;
    gap: 30px;
}


.presentacion h2 {
    font-size: 50px;
    font-weight: bolder;
}


.vista-previa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0 auto;
}

.catalogo-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}


/*Aqui termina la confguracion exclusiva del home*/
/*Aqui empieza la confiuguracion exclusiva del catalogo*/

.selector-cont {
    margin: 0 auto;
    padding: 10px 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: black;
    border-style: ridge;
    border-color: aliceblue;
    box-shadow: #a3a2a2 5px 5px 5px;
}

.catalogo-page {
    background: linear-gradient(to right, #550202ef, #db1515, #550202ef);
    padding: 20px 30px;
    background-color: #d3d3d3;
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

.barra-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    border-radius: 10px;
    text-align: center;
}

.barra-search h1 {
    color: aliceblue;
    text-decoration: underline;
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
}

.barra-search div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.barra-search div input {
    border-radius: 5px;
    gap: 20px;
    border-color: #797070;
}

/***aqui empiezan las cards de los productos***/

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}

.card {
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    flex-grow: 1;
}

.card img {
    border-radius: 8px;
    margin: 5px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
}

.descripcion h5 {
    font-weight: bold;
    font-size: 20px;
}

.button {
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.39) 2px 2px;
    align-self: center;
}

.button:hover {
    background-color: rgb(70, 69, 69);
}

.Precio {
    font-weight: bold;
    color: blue;
}

/*Aqui termina la configuracion exclusiva del catalogo*/
/*Aqui empieza la co nfiguracion exclusiva de productos*/

.P-description {
    display: flex;
    flex-direction: row;
}

.Button-interact {
    display: flex;
    flex-direction: row;
}

/*Aqui termina la configuracion exclusiva de productos*/

/*Aqui empieza el media query*
320px - 480px: Small mobile phones
481px - 768px: Tablets
769px - 1024px: Smaller laptops
1025px - 1200px: Desktops/ */


@media (max-width:1200px) {
    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:835px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width:480px)
/*Mobile*/
    {
    .fondoytexto {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.582);
        color: aliceblue;
        margin: 0 auto;
        padding: 0;
        border-radius: 20px;
        text-align: center;
    }

    .linkfoot {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .presentacion {
        padding: 10px;
    }

    .barra-search {
        flex-direction: column;
    }

    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
    }

}
