
.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Fondo-historia.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: auto;
    padding: 10%;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.ir-catalogo {
    display: inline-block;
    padding: 10px 100px;
    border: 2px ridge #d3d3d3;
    /* Borde de 2px de color negro */
    background-color: #323ee65d;
    /* Fondo transparente */
    color: #ffffff;
    /* Color del texto */
    text-decoration: none;
    /* Sin subrayado en el texto */
    font-size: 16px;
    /* Tamaño del texto */
    font-weight: 500;
    border-radius: 5px;
    /* Bordes redondeados */
}

.ir-catalogo:hover {
    background-color: #323ee65d;
    /* Fondo negro al pasar el cursor */
    color: #fff;
    /* Texto blanco al pasar el cursor */
    border: 2px dotted #cacacaaf;
}

.fondoytexto {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.582);
    color: aliceblue;
    margin: 0 auto;
    padding: 50px 50px;
    border-radius: 20px;
    text-align: center;
    gap: 30px;
}


.presentacion h2 {
    font-size: 50px;
    font-weight: bolder;
}


.vista-previa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0 auto;
}

.catalogo-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

