.container-background {
  background-image: url(../img/Fondo-historia.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.container-background .presentacion {
  background: radial-gradient(rgba(46, 46, 46, 0.425) 60%, rgb(2, 2, 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10%;
  margin: 0px;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}
.container-background .presentacion h3 {
  font-weight: bold;
}
.container-background .presentacion h2 {
  font-size: 50px;
  font-weight: bolder;
}
.container-background .container-fondoytexto {
  align-items: center;
  color: aliceblue;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

.ir-catalogo {
  display: inline-block;
  padding: 10px 100px;
  border: 2px ridge rgba(207, 142, 0, 0.5490196078);
  background-color: rgba(50, 62, 230, 0.3647058824);
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.ir-catalogo:hover {
  background-color: rgba(50, 62, 230, 0.5137254902);
  color: #fff;
  border: 2px dotted rgba(189, 186, 32, 0.6862745098);
}

.vista-previa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 0 auto;
}
.vista-previa .catalogo-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

/*Card de prductoo*/
.container .row {
  margin: 10px;
  border-radius: 10px;
}
.container .row .col-lg-12 {
  width: 90%;
}
.container .row .col-lg-12 .carousel-inner {
  border-radius: 10px;
}
.container .row .col-lg-12:first-of-type {
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.display_boton {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

button {
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(14, 13, 13);
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(127, 128, 129);
  border-width: 2px;
  color: rgb(255, 255, 255);
}

.selected {
  border-color: rgb(195, 195, 218);
  background-color: rgb(98, 98, 99);
  color: white;
}

.CTA {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.CTA .compra {
  border-radius: 10px;
  border: none;
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  background-color: rgb(0, 184, 0);
  border: solid rgba(199, 199, 199, 0.664) 2px;
}
.CTA .compra a {
  color: aliceblue;
  text-decoration: none;
  align-self: center;
}
.CTA .boton1 {
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(1, 1, 182);
}
.CTA .boton1:active {
  background-color: rgb(0, 0, 129);
}
.CTA .boton2:active {
  background-color: rgb(0, 87, 0);
}

.P_name {
  font-weight: bold;
}

main .container .row {
  padding: 10px;
  background-color: aliceblue;
}
main .container .row .c-card {
  /*para media query
  display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10%;
}
main .container .row .c-card h5 {
  font-weight: bold;
}
main .container .row .c-card p {
  font-weight: 500;
}
main .container .row .c-card .display-c h4 {
  font-size: 16px;
  font-weight: bold;
}
main .container .row .c-card a {
  background-color: rgb(14, 13, 13);
  border-radius: 10px;
  border: 2px solid gray;
  padding: 5px 10px;
}
main .container .row .c-card a svg {
  color: rgb(255, 255, 255);
  width: 20px;
}
main .container .row .c-card img {
  border-radius: 10px;
  width: 50%;
}

.container-expand {
  background-color: rgb(173, 173, 173);
  padding: 5%;
}

.container-fluid-expand .Total {
  padding: auto;
  background-color: aliceblue;
  padding: 10px 15%;
}
.container-fluid-expand .Total .Box-calculator {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 25%;
  margin: 8px;
  padding: 10px;
}
.container-fluid-expand .Total .btnPago {
  border-radius: 10px;
  border: none;
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  background-color: rgb(0, 184, 0);
  border: solid rgba(199, 199, 199, 0.664) 2px;
}
.container-fluid-expand .Total .btnPago:hover {
  background-color: rgb(3, 218, 3);
}

body {
  background: linear-gradient(to right, rgba(85, 2, 2, 0.937254902), #db1515, rgba(85, 2, 2, 0.937254902));
  font-family: "Poppins", serif;
  gap: auto;
}

main {
  margin: 0 auto;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  text-decoration: underline;
  color: rgb(185, 184, 192);
}

.navbar-toggler {
  background-color: aliceblue;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: aliceblue;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

footer h5 {
  display: flex;
  text-align: center;
}

footer img {
  image-rendering: optimizeSpeed;
  width: 25%;
}

.linkfoot {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
}

.linkbtn {
  text-decoration: solid;
  color: azure;
  background-color: rgb(13, 110, 253);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: aqua;
  padding: 5px 30px;
}

.linkbtn:hover {
  background-color: rgb(61, 129, 255);
  border-color: rgb(241, 255, 255);
}

/*Aqui empieza la confiuguracion exclusiva del catalogo*/
.selector-cont {
  margin: 0 auto;
  padding: 10px 8px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: black;
  border-style: ridge;
  border-color: aliceblue;
  box-shadow: #a3a2a2 5px 5px 5px;
}

.catalogo-page {
  background: linear-gradient(to right, rgba(85, 2, 2, 0.937254902), #db1515, rgba(85, 2, 2, 0.937254902));
  padding: 20px 30px;
  background-color: #d3d3d3;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.barra-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;
}

.barra-search h1 {
  color: aliceblue;
  text-decoration: underline;
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
}

.barra-search div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.barra-search div input {
  border-radius: 5px;
  gap: 20px;
  border-color: #797070;
}

/***aqui empiezan las cards de los productos***/
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}

.card {
  width: 250px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  flex-grow: 1;
}
.card img {
  border-radius: 8px;
  margin: 10px;
}

.descripcion {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-grow: 1;
}

.descripcion h5 {
  font-weight: bold;
  font-size: 20px;
}

.button {
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  margin-top: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.39) 2px 2px;
  align-self: center;
}

.button:hover {
  background-color: rgb(70, 69, 69);
}

.Precio {
  font-weight: bold;
  color: blue;
}

@media (max-width: 1200px) {
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 835px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 480px) {
  .linkfoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container-background .presentacion {
    padding: 30% 10%;
    font-size: 15px;
  }
  .container-background .presentacion h2 {
    font-size: 20px;
  }
  .barra-search {
    flex-direction: column;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .container .row .col-lg-12:first-of-type {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
